* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
}

/* main */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 45px;
}

main {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  margin-top: 20px;
}

input:focus {
  outline: none;
}

.prod {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
